*{
  box-sizing: border-box;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;

}

.fighters-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 4rem;
}

.fighters-grid div{
  transition: transform 0.2s;
  margin: 8px;
  position: relative;
  cursor: pointer;
}

.fighters-grid div:hover{
  transform: scale(1.07);
}

.fighter-name {
position: absolute;
bottom: 0;
right: 2%;
color: white;
font-size: 1em;
text-transform: uppercase;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); ;
}

.fighter-img{
  /* border-radius: 5px; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
margin: 0;
}