.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.fighters-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 4rem;
}

.fighters-grid div{
  transition: transform 0.2s;
}

.fighters-grid div:hover{
  transform: scale(1.07);
}
